/**ESTILOS GENERALES**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    background-color: lightgray;
    padding: 1.2rem;
    color: black;
    border-radius: 8px;
    animation-duration: 2s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1:hover {
    transform: scale(1.2);
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
}

/**HEADER*/
#grilla_header {
    grid-area: header;
    display: flex;
    margin-bottom: 4rem;
    background-color: crimson;
} 

@media screen and (max-width: 780px) {
    #grilla_header {
        flex-direction: column;
    }
}

@media screen and (max-width: 523px) {
    #lista_navegacion {
        flex-direction: column;
    }
}

.logo {
    width: 10rem;
    height: 10rem;
    border-radius: 8px;
    margin-right: 2rem;
}

.logo:hover {
    transform: scale(1.2);
}

.texto-menu {
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
}


.ubicacion-menu {
    justify-content: right;

}

.color-boton {
    background-color: white;
    width: 4rem;
    height: 4rem;
}

/**FOOTER**/
#footer {
    grid-area: footer;
    margin-top: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    background-color: gray;
    color: white;
    padding: 3rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.footer_leyenda {
    text-align: center;
}


.logo-footer {
    width: 14rem;
    border-radius: 8px;
}

.h3-footer {
    text-align: center;
}

.texto-menu-footer {
    color: white;
    font-size: 1.4rem;
    display: flex;
}

.lista_footer {
    text-decoration: none;
    list-style-type: none;
}

/*Redes sociales*/
.icon-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.img_redes {
    width: 2rem;
}

/*Banner*/
#banner-footer {
    background-color: #eaeaea;
    margin-top: 1.5rem;
    padding: 2rem;
    color: black;
    border-radius: 8px;
}

/**PAGINA INICIO**/

/*Banner*/
#banner-inicio {
    background-color: lightblue;
    margin-top: 1.5rem;
    padding: 2rem;
    color: black;
    border-radius: 8px;
    font-size: 1.5rem;
}

#banner-inicio h2 {
    text-align: center;
}

.text_banner {
    text-align: center;
}

.banners_caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner-nosotros {
    background-color: #eaeaea;
    margin-top: 1.5rem;
    padding: 2rem;
    color: black;
    border-radius: 8px;
}

#banner-nosotros h2 {
    text-align: center;
}

.imagen-inicio {
    width: 60rem;
    height: 30rem;

}

.banners_caracteristicas img:hover {
    transform: scale(1.2);
}

.parrafo_inicio {
    font-size: 1.5rem;
    text-align: end;

}

.carrusel-marcas {
    width: 50rem;
}


#ubic-google {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mapa{
    width: 60%;
}


#horarios {
    text-align: center;
    margin-top: 2rem;
    border-radius: 8px;
    padding: 2rem;
    font-size: 1.5rem;

}

.titulo_ubicyhorario {
    background-color: crimson;
    color: whitesmoke;
    margin-bottom: 2rem;
}


/**PAGINA PRODUCTOS**/

#grilla_productos {
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "productos productos productos productos productos"
    "footer footer footer footer footer";
    grid-template-columns: repeat(5, 1fr);
    background-color: lightgray;
}

#productos {
    grid-area: productos;
}

#productos h2,
#productos p {
    text-align: center;
}

.galeria_productos{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    justify-items: center;
}

@media screen and (max-width: 1100px) {
    .galeria_productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 780px) {
    .galeria_productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 523px) {
    .galeria_productos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.card_prod{
    width: 28rem;
    height: 38rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: white;
    margin: 1rem;
    justify-content: center;
}

.card_prod:hover{
    transform: scale(1.1);
}

.card_prod img {
    height: 18rem;
    width: 28rem;
}


.card_titulo {
    font-size: 1.8rem;
    font-weight: bolder;
}

.card_titulo:hover{
    transform: scale(1.2);
}

.card_precio {
    font-size: 3rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

.card_precio:hover{
    transform: scale(1.3);
}

.card_desc {
    font-size: 1.5rem;
    
}

.card_desc:hover{
    transform: scale(1.2);
}

.boton_prod {
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 20px;
    background-color: crimson;
    color: whitesmoke
}

.boton_prod:hover{
    transform: scale(1.4);
}

.parrafo_tienda {
    font-size: 2.5rem;
    margin-bottom: 4rem;
}


/**PAGINA NOVEDADES**/

.n1 {
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    
}

.n1:hover {
    transform: scale(0.7);
}

.tn1 {
    font-size: 2.5rem;
    text-align: center
}

.pn1 {
    font-size: 1.5rem;
}


.n2 {
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.n2:hover {
    transform: scale(0.7);
}


.in2 img {
    border-radius: 10px;
    width: 12rem;
    
}


.in3 img {
    border-radius: 10px;
    width: 20rem;
}

.tituloh2:hover {
    transform: scale(1.5);

}


/**PAGINA CONTACTO**/

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 400px) {
    #formulario {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.leyenda_form {
    font-size: 2rem;
    font-weight: bold;
}

.leyenda_form1 {
    font-size: 1.5rem;
    margin: 1.5rem;
}

.leyenda_form2 {
    font-size: 1.2rem;
}
#nombre{
    font-size: 1.2rem;
}

#apellido{
    font-size: 1.2rem;
}

#Contrasena{
    font-size: 1.2rem;
}

#email{
    font-size: 1.2rem;
}

.fondo_form {
    
    background-color: gray;
    padding: 1rem;
    border-radius: 10px;
    color: whitesmoke;
    
}

input:focus {
    width: 300px;
    outline: none;
}


/**PAGINA COMO COMPRAR**/

.pasos_titulo {
    background-color: crimson;
    color: whitesmoke;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.pasos_titulo img {
    width: 12rem;
    border-radius: 10px;
    animation-name: carritomov;
    animation-iteration-count: infinite;
    animation-timing-function: all;
    animation-duration: 5s;
    animation-delay: 1s;
    
}
    
@keyframes carritomov {
    0% {
        transform: translate(-80px);
    }
    100% {
        transform: translate(80px);
    }
}


.pasos_titulo:hover {
    transform: scale(1.1);
}

.pasos_titulo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    text-align: center;
    

}

.pasos_titulo2 {
    transform: scale(1.2);
}

.pasos-desc {
    text-align: end;
    margin-top: 2rem;
    justify-content: center;
    justify-items: center;
    font-size: 1.5rem;
}


.pasos-desc-fin {
    text-align: end;
    margin-top: 2rem;
    justify-content: center;
    justify-items: center;
    font-size: 2.5rem;
    background-color: gold;
    border-radius: 10px;
    padding: 2.5rem;
}

.pasos-desc-fin:hover {
    transform: scale(1.1);
}


.pasos_num {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    color: goldenrod;
    border-radius: 100px;

}

.pasos_num:hover {
    transform: scale(1.1);
}

